body {
    background-color: black;
    color: white;
}

#movielist {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

#moviebox {
    border: 1pt solid #F75A96;
    width: 30%;
    display: flex;
    position: relative;
    
}

p {
    font-family: 'Average', serif;
}

h1 {
    font-family: 'Fjalla One', sans-serif;
}

.poster {
    width: 50%;
    height: 400px;
}

.movieinfo {
    width: 50%;
}

.material-icons {
    position: absolute;
    bottom: 2px;
    right: 2px;
    
}

.info {
    position: absolute;
    bottom: 2px;
    right: 32px;
    
}


