*{
    margin: 0; 
    font-family: 'Fjalla One', sans-serif;

}

.title {
    font-family: 'Luckiest Guy', cursive;
    font-size: 500%;
    color: white;
    text-decoration: none;
    padding: 5px;
}

body {
    background-color: black;
    color: white;
}

#movielist {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

#moviebox {
    border: 2pt solid #F75A96;
    border-radius: 8px;
    width: 30%;
    display: flex;
    position: relative;
    margin-bottom: 5px;
    margin-top: 5px;
}
/* Using a formula (an + b). a represents a cycle size, n is a counter (starts at 0), and b is an offset value.*/
#moviebox:nth-of-type(4n+2) {
    border: 2pt solid #ADCE9E;
}

#moviebox:nth-of-type(4n+3) {
    border: 2pt solid #FFCA93;
}

#moviebox:nth-of-type(4n+4) {
    border: 2pt solid #6FD1F2;
}

p {
    font-family: 'Average', serif;
}

.poster {
    width: 50%;
    height: 400px;
}

.movieinfo {
    width: 50%;
    margin: 15px; 
}

.movieinfo p {
    margin-top: 10px; 
}

.material-icons {
    position: absolute;
    bottom: 2px;
    right: 2px;
    
}

.info {
    position: absolute;
    bottom: 2px;
    right: 32px;
}

.popup {
    background-color: black;
    color: white;
    width: 500px; 
    min-height: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.popup h2 {
    color: black;   
}

.more-info:hover {
    cursor: pointer;
}

.list-add:hover {
    cursor: pointer;
}

.red {
    color:red;
}

.search-fields {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.search-title {
    color: #F75A96;
    display: flex;
    flex-direction: row;
    align-items: center; 
    margin: 5px; 
}

.search-title input {
    background-color: #F75A96; 
    margin: 5px; 
}

.search-rating {
    color: #FFCA93; 
    display: flex;
    flex-direction: row;
    align-items: center; 
}


.search-rating input {
    background-color: #ADCE9E;
    margin: 5px;     
}

button {
    background-color: #6FD1F2; 
    border-radius: 5px; 
    height: 30px;
    width: 75px;
    color: white;
    font-size: 15px; 
}

input {
    border-radius: 5px; 
    height: 30px;
    width: 200px; 
    border: 0px;
    color: white;
    font-size: 15px; 
}

::placeholder{
    color: white;
}

#search_title {
    display: flex;
    width: 60%;
    margin: 20px auto;
    border: 2pt solid #FFCA93;


}

#search_rating {
    display: flex;
    width: 30%;
    margin: 50px auto;
    border: 2pt solid #FFCA93;



}

.nav {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

a {
    font-family: 'Luckiest Guy', cursive;
    color: #FFCA93;
    text-decoration: none;
    padding: 15px;
    font-size: 125%;
    
}



